*.jl.cov
*.jl.*.cov
*.jl.mem
.DS_Store
gitignore
.ipynb_checkpoints
.tags
.vscode
dat
scratch
!scratch/equirect1.jl
**Untitled*.ipynb
nb/
paper2/
plots/
0.6/
paper/
scripts/
*.jld*
test/benchmarks
!.github/**
docs/src/*.ipynb
docs/build
docs/src-staging/0*
profiling
posts
