code.language-output {
    background-color: white !important;
}

@font-face {
    font-family: 'JuliaMono-Regular';
    src: url("JuliaMono-Regular.ttf");
}

code, pre {
  font-family: 'JuliaMono-Regular', Monaco, courier, monospace !important;
}
